<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (min-width:700px) and (max-width:1000px)" href="/responsive.css" )>
    <link rel="stylesheet" media="screen and  (max-width:700px)" href="/responsive2.css" )>
    <title>HodlInfo</title>
</head>
<body>
    <div class="header">
        <div class="logo">

            <img src="/images/logo.png" alt="">
            <p>Powered By <a href="https://www.finstreet.in/">Finstreet</a></p>
        </div>
        <div class="btn">
            <button>INR</button>
            <button>BTC</button>
            <button><a href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn" target="_blank">BUY BTC</a></button>
        </div>

        <div class="right">
            <div id="countdown">
                <svg>
                    <circle r="18" cx="20" cy="20"></circle>
                </svg>
                <div id="countdown-number"></div>
            </div>
            
            <div class="channel">
                <a href="#">Connect Telegram</a>
            </div>
        </div>
        <div>

            <label class="switch">
                <input type="checkbox" style="display: none;" checked>
                <span class="slider round"></span>
            </div>
        </label>
    </div>

    <div class="imageLink1 image">
        <a href="https://finstreet.in/"><img src="/images/imageLInk1.png" alt="ImageLInk1"></a>

    </div>

    <%-body%>

    <div class="imageLink2 image">
        <a href="https://www.algorand.com/futurefi/"><img src="/images/imageLink2.jpg" alt="ImageLink2"></a>
    </div>

    <div class="footer">
        <div class="left">
            
            <div>
                <p>Copyright &copy; 2019</p>
            </div>
            <div>
                <p>Hodlinfo.com</p>
            </div>
            <div>
                <p>Developed by <a href="https://www.quadbtech.com/" target="_blank">QuadBTech</a></p>
            </div>
        </div>
        <div>
            <p><a href="mailto:support@hodlinfo.com">Support</a></p>
        </div>
    </div>

    <div class="footerLast">
        <button>Add hodlinfo to homescreen</button>
    </div>
    
<!-- Script -->
    <script>
        var countdownNumberEl = document.getElementById('countdown-number');
        var countdown = 59;

        countdownNumberEl.textContent = countdown;

        setInterval(function () {
            countdown = --countdown < 0 ? 59 : countdown;
            countdownNumberEl.textContent = countdown;
            if(countdown===0)
            {
                console.log("hello")
                window.location.reload()
            }
        }, 1000);
    </script>
</body>

</html>